.blog {
  position: relative;
}

.blog-slider {
  position: relative;
  overflow: hidden;

  // .slider-btn::before {
  //   background-color: var(--color-white);
  // }

  .slider-btn.swiper-button-disabled {
    display: none;
  }

  &__next,
  &__prev {
    z-index: 2;
    border-radius: 50%;
    top: 40%;
    width: 70px;
    height: 70px;
    background-color: var(--color-ebony);

    &::before {
      background-color: var(--color-white);
    }

    &:hover {
      .slider-btn::before {
        background-color: var(--color-active);
      }
    }
  }
}

.blog-card {
  @include flex-column;

  border-radius: var(--br-r);
  padding: clamp(20px, 3rem, 50px);
  width: 100%;
  max-width: 230px;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-ebony);

    time::before {
      background-color: var(--color-white);
    }

    span {
      color: var(--color-white);

      &::before {
        background-color: var(--color-white);
      }
    }

    // .link--arrow::before {
    //   right: 5px;
    //   width: 56px;
    // }
  }

  span {
    margin-bottom: 10px;
    color: var(--color-boulder);
    transition: color 0.3s linear;
  }

  h3 {
    @include adaptive_size("font-size", 30, 20);

    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.5;

  }

  .link {
    margin-top: rem(50);
  }

  &__content {
    @include flex;

    margin-bottom: rem(50);
    font-size: 15px;
    line-height: 1.5;

    time {
      position: relative;
      margin-right: rem(30);
      padding-left: rem(20);

      &::before {
        content: "";
        position: absolute;
        left: -10px;
        mask-image: url("../img/sprite.svg#calendar");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 25px;
        height: 25px;
        background-color: var(--color-ebony);
        transition: background-color 0.3s linear;
      }
    }

    span {
      position: relative;
      padding-left: 20px;
      color: var(--color-ebony);
      transition: color 0.2s linear;

      &::before {
        content: "";
        position: absolute;
        left: -10px;
        mask-image: url("../img/sprite.svg#clock");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 25px;
        height: 25px;
        background-color: var(--color-ebony);
        transition: background-color 0.3s linear;
      }
    }
  }
}