.portfolio {
  position: relative;
}

.portfolio-slider {
  position: relative;
  overflow: hidden;

  &__box {
    margin-right: 10px;
  }

  &__list {
    margin-bottom: clamp(20px, 3.125rem, 50px);
  }

  &__item {
    @include flex-all-sb;
  }
}

.portfolio-desc {
  width: 100%;
  max-width: 430px;

  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }

  &__list {
    margin-bottom: 30px;

    li {
      @include flex-all-sb;
      position: relative;
      font-weight: 700;
      line-height: 1.65;
      padding-left: 20px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--color-ebony);
      }

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 40%;
        mask-image: url("../img/sprite.svg#line");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 30%;
        height: 10px;
        background-color: var(--color-ebony);
      }

      &:nth-child(n+1)::after {
        width: 46%;
      }

      &:nth-child(n+2)::after {
        width: 50%;
      }
    }
  }

  &__category {
    display: block;
    margin-bottom: rem(50);
    font-size: 15px;
    line-height: 1.5;
    color: var(--color-silver);
  }
}