.contacts {
  @include flex;

  color: var(--color-white);

  &__title {
    margin-bottom: rem(25);
  }

  &__inner {
    display: grid;
    border-radius: 0 15px 15px 0;
    padding: rem(100);
    background-color: var(--color-shadow);
  }
}

.contact {
  border-radius: 15px 0 0 15px;
  padding: rem(80);
  background-color: var(--color-ebony);
}

.info {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  &__item {
    position: relative;
    letter-spacing: 0.03em;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      mask-image: url("../img/sprite.svg#email");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      background-color: var(--color-white);
    }

    &--phone {
      &::before {
        mask-image: url("../img/sprite.svg#phone");
      }
    }

    &--schedule {
      pointer-events: none;

      &::before {
        mask-image: url("../img/sprite.svg#schedule");
      }
    }
  }

  span:not([class]) {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 12px;
    padding-left: 40px;

    @include for-width(-mobile-l) {
      padding-left: 30px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-blue);
    }
  }
}

.follow {
  align-self: flex-end;

  .social__list {
    display: flex;
    gap: 39px;
  }

  .social__item {
    margin: 0;
  }

  .social__link {
    background-color: var(--color-white);

    &::before {
      background-color: var(--color-boulder);
      width: 30px;
      height: 30px;
      transition: background-color 0.3s linear;
    }

    &:hover::before {
      background-color: var(--color-active);
    }
  }

  .social__link {
    width: 60px;
    height: 60px;
  }
}