.form {
  font-size: 15px;
  line-height: 1.5;
  color: var(--color-silver);

  &__box {
    position: relative;
    margin-bottom: rem(50);
  }

  .btn {
    width: 100%;
    max-width: 100%;
  }

  &__input {
    position: relative;
    appearance: none;
    outline: 0;
    border: none;
    border-bottom: 1px solid var(--color-white);
    padding: 5px;
    width: 100%;
    color: var(--color-white);
    background-color: transparent;
  }

  &__label {
    @include flex-center;

    position: absolute;
    top: 0;
    color: var(--color-gray);
    transition: top 0.2s linear;

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background-color: var(--color-red);
      transition: top 0.2s linear;
    }

    &--message {
      &::before {
        content: none;
      }
    }
  }

  &__message {
    appearance: none;
    outline: 0;
    border: none;
    border-bottom: 1px solid var(--color-white);
    width: 100%;
    min-height: 50px;
    resize: none;
    color: var(--color-white);
    background: transparent;

    &::placeholder {
      position: absolute;
      bottom: 5px;
    }
  }

  &__necessarily {
    @include flex-center;

    margin-bottom: clamp(20px, 3rem, 50px);
    position: relative;
    color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: var(--color-red);
    }
  }

  &__text {
    display: block;
    margin-bottom: 20px;
    line-height: 1.5;
    color: var(--color-white);
  }
}

.form__input:focus~.form__label,
.form__input:valid~.form__label {
  font-size: 14px;
  color: var(--color-active);
  transform: translateY(-100%);
}