:root {
  // base
  --font-family: "Raleway", sans-serif;
  --content-width: 1410px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-black: #001322;
  --color-ebony: #283642;
  --color-orange: #f15a25;
  --color-orange-100: #fb6632;
  --color-active: #d65122;
  --color-shadow: #907f53;
  --color-white: #fff;
  --color-silver: #bababa;
  --color-boulder: #7c7c7c;
  --color-red: #aa192a;

  // radius
  --br-r: em(15);
  --br-small: 5px;

  --line-gr: linear-gradient(180deg, #907f53 50.43%, #ffffff 50.43%);
  // --coins-elements-displayed: 9;
  // --coins-element-width: 135px;
}
